/* Colors */
$hymnal-red: #572a28;
$off-white: #f5f5f3;
$silver-lettering: #bfbfbf;

/* Fonts */
$default-font: Minion Pro;

/* Viewport Breakpoints */
$mobile-breakpoint: 600px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1280px;
